.login{
    border: 1px solid #0079D3;
    background: #f9fbfd;
    color: #0079D3;
    border-radius: 25px;
    width: 100px;
}

.login:focus{
    border: 1px solid #0079D3;
    background: #d6d7d8;
    color: #0079D3;
    border-radius: 25px;
    width: 100px;
}

.login:hover{
    border: 1px solid #0079D3;
    background: #d9dadb;
    color: #0079D3;
    border-radius: 25px;
    width: 100px;
}

.signup{
    border: 1px solid #0079D3;
    background: #0079D3;
    color: #f9fbfd;
    border-radius: 25px;
    width: 100px;
}

.signup:hover{
    border: 1px solid #0079D3;
    background: #0367b3;
    color: #f9fbfd;
    border-radius: 25px;
    width: 100px;
}

.signup:focus{
    border: 1px solid #0079D3;
    background: #0079D3;
    color: #f9fbfd;
    border-radius: 25px;
    width: 100px;
}

.userName{
    background: transparent;
    border: transparent;
    color: #6c757d;
}

.userName:hover{
    background: transparent;
    border: 0.5px solid #b3b7bb;
    color: #6c757d;
}

.userName:focus{
    background: transparent;
    border: 0.5px solid #b3b7bb;
    color: #6c757d;
    box-shadow: 0 0 0 0.2px rgb(130 138 145 / 50%);
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0; 
    width: 350px;
    height: 40px;
}

.searchBar > input {
    background-color: transparent;
    border: none;
    outline: none;
}