.dashboard__body {
    min-height: 100vh;
    background-color: #dae0e6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard__filters{
    margin-top: 15px;
    width: 90%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
}

.dashboard__sortbytext {
    margin-left: 15px;
    font-size: 13px;
}

.dashboard__pagesizetext {
    margin-left: 30px;
    font-size: 13px;
}

.dashboard__sortby{
    margin-left: 10px;
}

.dashboard__searchbar{
    margin-bottom: 20px;
    width: 90%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
}

.dashboard__input {
    margin-left: 10px;
    width: 250px;
    height: 30px;
    outline: none;
}

.dashboard__loading {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.dashboard__none{
    font-size: 25px;
}

.dashboard__textpost {
    background-color: white;
    width: 80%;
    height: 180px;
    margin-bottom: 15px;
    display:flex;
}

.dashboard__imagepost {
    background-color: white;
    width: 80%;
    min-height: 400px;
    margin-bottom: 15px;
    display:flex;
}

.dashboard__urlpost {
    background-color: white;
    width: 80%;
    min-height: 400px;
    margin-bottom: 15px;
    display:flex;
}

.dashboard__votes{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard__votes > span{
    font-size: 12px;
    font-weight: bold;
}

.post__body {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 10px;
}

.post__communityinfo {
    display: flex;
    align-items: center;
}

.post__community {
    font-size: 12px;
    font-weight: bold;
}

.post__author{
    margin-left: 15px;
    font-size: 12px;
    color: gray;
}

.post__title{
    margin-top: 5px;
}

.post__title > span {
    font-size: 20px;
    font-weight: bold;
}

.post__image{
    min-width: 100px;
    min-height: 100px;
    max-width: 300px;
    max-height: 300px;
}

.post__comments{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.post__commentbutton{
    height: 30px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.post__commentbutton > span {
    margin-left: 5px;
    font-size: 12px;
    color: gray;
}

.dashboard__paginate {
    margin-top: 10px;
    display:flex;
    justify-content: center;
}