.invite{
    font-family: 'IBM Plex Sans', sans-serif;
}

.invite .column{
    float: none;
    margin: 0 auto;
}

.invite  h1 {    
    padding-bottom: 6px;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1c1c1c;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.invite .communityImg{
    height: 40px;
    margin-right: 5px;
}

.invite .communityName {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1c1c1c;
}

.invite .acceptInvite {
    border: 1px solid #0079D3;
    background: #0079D3;
    color: #f9fbfd;
    border-radius: 25px;
    width: 100px;
    margin-right: 5px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.invite .acceptInvite:focus {
    border: 1px solid #0079D3 ;
    background: #2288d4;
    color: #f9fbfd;
    border-radius: 25px;
    width: 100px;
}

.invite .acceptInvite:hover {
    border: 1px solid #0079D3;
    background: #2288d4;
    color: #f9fbfd;
    border-radius: 25px;
    width: 100px;
}

.invite .rejectInvite {
    border: 1px solid #0079D3;
    background: #f9fbfd;
    color: #0079D3;
    border-radius: 25px;
    width: 100px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.invite .rejectInvite:hover {
    border: 1px solid #0079D3 ;
    background:#d3e1ef ;
    color: #0079D3  ;
    border-radius: 25px ;
    width: 100px;
}

.invite .rejectInvite:focus {
    border: 1px solid #0079D3 ;
    background: #d3e1ef;
    color: #0079D3 ;
    border-radius: 25px ;
    width: 100px;
}

.invite .userImg {
    width: 50px;
    height: 50px;
}

.invite .joined{
    text-transform: uppercase;
    color: green;
    margin-left: 5px;
}

.invite .pending{
    text-transform: uppercase;
    color: orange;
    margin-left: 5px;
}

.invite .reject{
    text-transform: uppercase;
    color: red;
    margin-left: 5px;
}

.invite .accept {
    float: right;
    font-size: 12px;
}